build/
.gradle/
.idea/
*.iml
.run/
.vscode/
Thumbs.db
Desktop.ini
成品/
unused-resources/
_archive/
src/bocchi--MC-1.21.1-legacy/
CHANGELOG.md
mc-full.txt
mc-setScreen.txt
pausescreen.txt
screen.txt
selectworld.txt
titlescreen.txt
titlescreen-full.txt
__pycache__/
*.pyc